body {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background: #820263;
    animation: bgchange 16s infinite;
}

@keyframes bgchange {
    from {
        background: #820263;
    }
    50% {
        background: #D90368;
    }
    to {
        background: #820263;
    }
}

.parent {
    text-align: center;
}

.child {
    display: inline-block;
}

.placeholder {
    text-align: left;
    margin-top: 200px;
    font-size: 240%;
    color: #fff;
}

.sitename {
    font-style: italic;
}